<header ng-controller="headerCtrl">
	<nav class="navbar navbar-default headerNav" role="navigation">
		<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li >
				<img class="spotClass" src="images/spot_1.png">
			</li>
			<li class="headingCls">
				<h3 class="ng-binding" style="color: #fff">Employee Crawler</h3>
			    <p class="captionPara">Spot your employees on a single screen</p>
			</li>
		</ul>
		<form ng-show="showSearchBox">
			<input type="text" ng-model="query" placeholder="Search" uib-typeahead="name for name in getEmployee($viewValue) | limitTo:4" typeahead-loading="loadingEmployees" typeahead-no-results="noResults" class="navbar-brand searchBox active floatRight" typeahead-on-select="onSelect($item, $model, $label)">
		</form>
		</div>
	</nav>
</header>