<div>
	<md-toolbar class="toolbarDiv demo-toolbar md-primary">
	        <div class="md-toolbar-tools" style="margin-top:10px" >
	          <img class="spotClass" src="images/spot_1.png">
	          <div class="crawlerDiv">
		          <h3 class="ng-binding" style="color: #fff;margin-top:2px;">Employee Crawler</h3>
		          <p class="color-ccc captionPara">Search/Add questions and cast your votes</p>
		          <span flex="" class="flex"></span>
		      </div>
	        </div>
	        <div class="floatRight">
				<input type="search" style="color:"black">
			</div>
	</md-toolbar>
</div>