<!-- Landing page of application.-->
<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8" />
 		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Employee Crawler Application</title>
		<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		
		<!-- Including requirejs module and commonjs to load js files dynamically based on requirement-->
		<script type="text/javascript" src="js/lib/require.min.2.1.js"></script>
		<script type="text/javascript" src="js/common.js"></script>

		
		
	</head>
<body class="container">
	<ng-include src="'views/header.htm'" scope="" onload=""></ng-include>
	<div ng-view ></div>
</body>

</html>