      <form class="form-signin" name="loginForm" ng-submit="login()">
        <h3 class="form-signin-heading">Please Sign In</h3>
        	<md-input-container class="empContainer md-block">
		        <label style="font-size:16px;">Employee ID</label>
		        <input required name="empId" ng-model="employeeID" >
		        <div ng-messages="loginForm.empId.$invalid">
		          <div ng-message="required">This is required.</div>
		        </div>
      		</md-input-container>

        <button type="submit" ng-disabled="loginForm.empId.$invalid" class="btn btn-lg btn-primary btn-block">Spot Employee</button>
      </form>


