<div class="container">

      <form class="form-signin" ng-submit="login()">
        <h2 class="form-signin-heading">Please Login in</h2>
        <label class="sr-only" for="userName">User Name</label>
        <input type="text" autofocus ng-model="user.userName" required placeholder="User Name" class="form-control" id="userName">
        <label class="sr-only" for="password">Password</label>
        <input type="password" ng-model="user.password" required placeholder="Password" class="form-control" id="password">

        <button type="submit" class="btn btn-lg btn-primary btn-block">Login In</button>
      </form>

</div>