  <div class="row errorBox" ng-show="hasError">
    <ng-include src="'views/errorTemplate.htm'" scope=""></ng-include>
  </div>

<div class="row">
  <div class="col-sm-2" style="width:162px;">
    <svg class="" height="50"  xmlns="http://www.w3.org/2000/svg" >
            <circle id="redcircle" cx="50" cy="50" r="20" fill="#800000" />
            <h4>Occupied Seats</h4>
    </svg>
    
  </div>
  <div class="col-sm-2">
    <svg class="" height="50"  xmlns="http://www.w3.org/2000/svg" >
            <circle id="redcircle" cx="50" cy="50" r="20" fill="#808080" />
            <h4>Vacant Seats</h4>
    </svg>
    
</div>
</div>

<div class="container-fluid bg-3 text-center" style="margin-left: 60px;">    
  <div class="row">
      <div ngtable-Div tables = "tableList" on-mouseover = "hoverIn(obj)"></div>
  </div>
</div><br><br>