<div class="container-fluid bg-3 text-center">    
  <div class="row">
    <div class="col-sm-4">
      <svg class="topCircle1">
        <path d="M125,80 a60,60 0 1,0 -115,0" fill="#800000" /><!--Top Half-->
      </svg>
       <svg class="topCircle2">
        <path d="M125,80 a60,60 0 1,0 -115,0" fill="#C3BEBE" /><!--Top Half-->
      </svg>
      <div class="tblDiv"></div>
      <svg class="btmCircle1">
        <path d="M15,80 a60,60 0 1,0 115,0" fill="#337ab7" />
      </svg>
      <svg class="btmCircle2">
        <path d="M15,80 a60,60 0 1,0 115,0" fill="#800000" />
      </svg>
    </div>

  </div>
</div><br><br>